@import "~bootstrap/scss/functions";
@import "~@/assets/helpers/_variables";
@import "~bootstrap/scss/bootstrap";

@import "./_dashboard";


.discount {
  text-decoration: line-through;
}
.text-style-special {
  font-family: 'Righteous', cursive;
  // font-family: 'Gloria Hallelujah', cursive;
}

.checkProgress .active {
  background: #3d9641;
}